
/* Header */
.header_image{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
}

.navbar-brand{
font-size: 1.5rem;
margin-left: 10px;   
}

/* universe */
.container-fluid{
min-height: 100vh;
padding: 50px 0;
background-image: url("../Airplane.jpg");
background-size: cover;
background-attachment: fixed;
background-position: center;
color: white;
}

.blur-content{
backdrop-filter: blur(50px);
border-radius: 20px;
padding: 30px;
}

input, textarea, select, .uneditable-input {
border: 1px solid #bbb;
width: 100%;
margin-bottom: 0px;
}

.alert{
margin-bottom: 0;
padding-bottom: 0;
}

/* tops#home */
.title-wrapper{
margin-bottom: 30px;
padding-top: 40px;
color: white;
margin-bottom: 10px;
font-size: 2vw;
}


/* tops#home,users#show 記事一覧表示*/
.questions-all{
background-color: rgba(255,255,255,0.9);
color: black;
padding-bottom: 10px;
padding-top: 0px;
border-radius: 5px
}
/* 記事一つ一つのスタイル */



/* users#show */
aside {
section.user_info {
  margin-top: 20px;
}
color: black;
section {
  padding: 10px 0;
  margin-top: 30px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
  span {
    display: block;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 1rem;
  }
  h5 {
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 3px;
    padding-top: 10px;
    border-top: 1px solid;
  }
}
}

/* ユーザーの画像表示 */
.profile-image{
margin: 1rem 0;
border-radius: 50%; 
object-fit: cover;
}

.question-image{
object-fit: cover;
}

/* form関連 */
.form-title{
padding: 1rem 0;
}

.arrange-form{
.btn{
  margin: 1rem 0;
}
.form-control{
  margin-bottom: 1rem;
}
}

/* users#show */
.user-info{
  background-color: rgba(255,255,255,0.9);
  font-size: 2rem;
  padding-top: 1rem;
  h5{
      margin-top: 0.5rem;
} 
}


/* users#show, 投稿がない時 */
.show-no-question{
  text-align: center;
  padding-top: 2rem;
  p{
    font-size: 2vw;
  }
}

/* 画像選択ボタン */
.image_input_btn{
  display: block;
  background-color: #228B22;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.image_form{
  display: none;
}

/* formの幅を親要素の半分、中央にする*/
.form-zone{
  width: 50%;
  margin: 0 auto;
}

/* questions#show 記事詳細画面 */
.show-wrapper{
  background-color: rgba(255,255,255,0.9);
  color: black;
  .title{
    display: block;
    font-size: 1.8rem;
    padding: 0.3rem 0;
    border-bottom: 1px solid black;
}
.content{
  display: block;
  padding: 0.8rem;
  font-size: 1.2rem;
}
}
